<%= form_with(model: [@author, @book], local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% @book.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.collection_select :supplier_id, Supplier.all, :id, :name, { prompt: "Select a supplier" } %>
    <% @book.errors.full_messages_for(:supplier_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :year_published, 'Year Published' %>
    <%= form.select :year_published, options_for_select((Date.current.year - 100)..Date.current.year), prompt: 'Choose a year' %>
  </div>


  <div class="field">
    <%= form.label :out_of_print, 'Out of Print' %>
    <%= form.radio_button :out_of_print, true %> <%= label_tag 'out_of_print_true', 'Yes' %>
    <%= form.radio_button :out_of_print, false %> <%= label_tag 'out_of_print_false', 'No' %>
  </div>

  <div class="field">
    <%= form.label :price, 'Price' %>
    <%= form.number_field :price, step: '0.01', min: 0 %>
  </div>

  <!-- Add other book attributes as needed -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>