<h1>title:<%= @book.title %></h1>
<h3>price:<%= @book.price %></h1>
<h3>year_published:<%= @book.year_published %></h1>





<ul>
  <li><%= link_to "Edit",  edit_author_book_path(current_author, book) %></li>
  <li><%= link_to "Destroy",author_book_path(current_author, book), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>