<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if author_signed_in? %>
    <%= button_to(
       "Log Out",
       destroy_author_session_path,
       method: :delete
     ) %>
    <% end %>

    <% if customer_signed_in? %>
    <%= button_to(
       "Log Out",
        destroy_customer_session_path,
        method: :delete
     ) %>
    <% end %>
    

    <%= yield %>
  </body>
</html>
